<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClTwitter_Ebooks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lucas_Ebooks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lucas_Ebooks.TwitterEbooks" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClTwitter_Ebooks.Properties.Settings>
            <setting name="ReadArchive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>twitter/</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>4xw3D7hq3hPFoyXKTsAt7g</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>yaIuTfA21lNyOTV0YVYIsOK7zSndNtuxp7tqaIiPhQ8</value>
            </setting>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCharacterLength" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitterFetchTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ReplyEbook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePeriod" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="LastTweetId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMentionId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PostRate" serializeAs="String">
                <value>10</value>
            </setting>
        </ClTwitter_Ebooks.Properties.Settings>
        <Lucas_Ebooks.Properties.Settings>
            <setting name="ReadArchive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>twitter/</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>4xw3D7hq3hPFoyXKTsAt7g</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>yaIuTfA21lNyOTV0YVYIsOK7zSndNtuxp7tqaIiPhQ8</value>
            </setting>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCharacterLength" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitterFetchTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ReplyEbook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePeriod" serializeAs="String">
                <value>3600</value>
            </setting>
        </Lucas_Ebooks.Properties.Settings>
        <Lucas_Ebooks.TwitterEbooks>
            <setting name="ReadArchive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>twitter</value>
            </setting>
        </Lucas_Ebooks.TwitterEbooks>
    </userSettings>
</configuration>